
html {
  font-family: sans-serif;
}

form {
  margin: 0 auto;
  width: 500px;
  position: absolute;
}

div {
  margin-bottom: 10px;
}

fieldset {
  background: cyan;
  border: 10px solid blue;
}

legend {
  padding: 10px;
  background: blue;
  color: cyan;
}

#otherValue
{
  display: none;
}

#other:checked ~ #otherValue
{
  display: inline-block;
}

#first {
  /*float: left;*/
  top: 0;
}
#second {
  left: 350px;
  top: 0;
}

#select{
 position: absolute 300px, 300px;
}
 
.dash {
 margin-top: 50px;
}

